*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4A4A4A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
}

h1 {
    transition: .5s;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.100);
}

#active-link {
    font-weight: bolder;
    color: white;
}